<ion-row *ngFor="let actividad of actividades">
  <ion-col col-2>
    <ion-icon *ngIf="actividad.tipoDeActividad == 'Examen'" name="clipboard" large></ion-icon>
    <ion-icon *ngIf="actividad.tipoDeActividad == 'Práctica'" name="bonfire" large></ion-icon>
    <ion-icon *ngIf="actividad.tipoDeActividad == 'Teoría'" name="book" large></ion-icon>
    {{ actividad.tipoDeActividad }}
    <p *ngFor="let metodologiaDeEnsenanza of actividad.metodologiasDeEnsenanza">
      <strong>
        {{ metodologiaDeEnsenanza.nombre }}
      </strong>
    </p>
  </ion-col>
  <ion-col col-10>
    <button class="editar-actividad"
            ion-button
            *ngIf="puedenModificarse"
            (click)="modificarActividad.next(actividad)">
      <ion-icon name="create"></ion-icon>
    </button>
    <button class="eliminar-actividad"
            color="danger"
            ion-button
            *ngIf="puedenModificarse"
            (click)="eliminarActividad.next(actividad)">
      <ion-icon name="close"></ion-icon>
    </button>
    <p *ngFor="let tema of actividad.temas">
      {{ tema.nombre }}
    </p>
  </ion-col>
</ion-row>
