<ion-header>
  <ion-navbar>
    <ion-title>Actividad</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Profesores</ion-label>
      <profesor-toggle item-end
                       *ngFor="let profesor of materia.profesores"
                       [profesor]="profesor"
                       (selectionToggled)="seleccionDeProfesorModificada($event)"
                       [checked]="actividadAuxiliar.profesores.indexOf(profesor) != -1"></profesor-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de actividad</ion-label>
      <ion-select [(ngModel)]="actividadAuxiliar.tipoDeActividad" multiple="false" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="TipoDeActividad.TEORIA" selected="true">Teoría</ion-option>
        <ion-option [value]="TipoDeActividad.PRACTICA">Práctica</ion-option>
        <ion-option [value]="TipoDeActividad.EXAMEN">Examen</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="actividadAuxiliar.tipoDeActividad != TipoDeActividad.TEORIA">
    <ion-label>Es en grupo</ion-label>
    <ion-toggle [(ngModel)]="grupal"></ion-toggle>
  </ion-item>
  <button ion-button (click)="seleccionarTemas()">
    Seleccionar temas
  </button>
  <ion-list>
    <ion-item *ngFor="let tema of actividadAuxiliar.temas">
      {{ tema.nombre }}
      <button ion-button item-end color="light" size="large" (click)="quitarTema(tema)">
        <ion-icon name="close" size="large"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="actividadAuxiliar.descripcion"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Metodología de enseñanza</ion-label>
      <ion-select [(ngModel)]="actividadAuxiliar.metodologiasDeEnsenanza" multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-option *ngFor="let metodologia of metodologiasService.metodologias" [value]="metodologia">{{ metodologia.nombre }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div padding>
    <button block ion-button (click)="aceptar()">Aceptar</button>
    <button block ion-button color="danger" (click)="cancelar()">Cancelar</button>
  </div>
</ion-footer>
