<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title><i>Temario:</i> <strong> {{ materiaSeleccionada.nombre }} </strong></ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let clase of materiaSeleccionada.clases">
    <ion-card-header>
      {{ clase.fechaDeInicio }}
    </ion-card-header>

    <!--<ion-fab right top>-->
      <!--<button ion-fab>-->
        <!--<ion-icon name="pin"></ion-icon>-->
      <!--</button>-->
    <!--</ion-fab>-->

    <ion-row *ngFor="let actividad of clase.actividades">
      <ion-col col-2>
        <ion-icon *ngIf="actividad.tipoDeActividad == 'Examen'" name="clipboard" large></ion-icon>
        <ion-icon *ngIf="actividad.tipoDeActividad == 'Práctica'" name="bonfire" large></ion-icon>
        <ion-icon *ngIf="actividad.tipoDeActividad == 'Teoría'" name="book" large></ion-icon>
          {{ actividad.tipoDeActividad }}
        <p>
          <strong>
            {{ actividad.metodologiaDeEnsenanza.nombre }}
          </strong>
        </p>
      </ion-col>
      <ion-col col-10>
        <p *ngFor="let tema of actividad.temas">
          {{ tema.nombre }}
        </p>
      </ion-col>
    </ion-row>

    <ion-item>
      <span item-start>
        Contenido:
        <strong>
          {{clase.puntuacionDeClase.puntajeContenido}}
        </strong>
      </span>
      <span item-start>
        Enseñanza:
        <strong>
          {{clase.puntuacionDeClase.puntajeEnsenanza}}
        </strong>
      </span>
      <span item-start>
        Recursos utilizados:
        <strong>
          {{clase.puntuacionDeClase.puntajeRecursosUtilizados}}
        </strong>
      </span>
      <button ion-button icon-start clear item-end>
        <ion-icon name="chatboxes"></ion-icon>
        {{ clase.puntuacionDeClase.mensajes.length }}
      </button>
    </ion-item>

  </ion-card>

  <button ion-button>
    Planificar próxima clase
  </button>

</ion-content>
