<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-title><i>Temario:</i> <strong> {{ materiasService.materiaSeleccionada.nombre }} </strong></ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let clase of materiasService.materiaSeleccionada.clases">
    <ion-card-header [class.realizada]="clase.fechaDeInicio != null">
      <span>
        {{ "Clase " + (materiasService.materiaSeleccionada.clases.indexOf(clase) + 1)}}
      </span>
      <span *ngIf="clase.fechaDeInicio"
            style="float: right;">
        <ion-icon name="calendar"></ion-icon>
        {{ clase.fechaDeInicio | date:"dd/MM"}}
      </span>
      <button ion-button
              *ngIf="!clase.fechaDeInicio"
              (click)="finalizarClase(clase)"
              style="float: right;">
        Marcar como finalizada
      </button>
      <button ion-button
              *ngIf="!clase.fechaDeInicio"
              (click)="planificarClase(clase)"
              style="float: right;">
        Planificar
      </button>
    </ion-card-header>

    <actividades [actividades]="clase.actividades"></actividades>

    <ion-item *ngIf="clase.puntuacionDeClase">
      <span item-start>
        Contenido:
        <strong>
          {{clase.puntuacionDeClase?.puntajeContenido}}
        </strong>
      </span>
      <span item-start>
        Enseñanza:
        <strong>
          {{clase.puntuacionDeClase?.puntajeEnsenanza}}
        </strong>
      </span>
      <span item-start>
        Recursos utilizados:
        <strong>
          {{clase.puntuacionDeClase?.puntajeRecursosUtilizados}}
        </strong>
      </span>
      <span item-start>
        <ion-icon name="chatboxes"></ion-icon>
        {{ clase.puntuacionDeClase?.mensajes.length }}
      </span>
      <button ion-button clear item-end (click)="mostrarPuntuacionDeClase(clase)">
        Ver más...
      </button>
    </ion-item>

  </ion-card>

</ion-content>
